
	      <div class="grpelem" id="u293"><!-- rasterized frame -->
	<%= image_tag('master_u293.png')%>  
	      </div>
	     </div>
	     <div class="colelem" id="a85"><!-- image -->
	<%= image_tag('master_u294.jpg')%>  
	     </div>
	    </div>

		<div id="page" class="rounded-corners clearfix">
		<div id="page_position_content" class="position_content">
		</div>

	    <div class="clearfix colelem" id="pu391-28"><!-- group -->
	     <div class="clearfix grpelem" id="u391-28modified"><!-- content -->
				<div class="span-23">
					<!--<% provide(:title, 'Support')%>
					<% if !flash[:notice].blank? %>
					<div class="notice">
						<%= flash[notice]%>
					</div>
					<%end%>
				</div> -->
				<div id="main">
			      <% if !flash[:notice].blank? %>
			      <div class="notice">
			        <%= flash[:notice] %>
			      </div>
			      <% end %>
			      <div id="content">
			        <%= yield %>
			      </div>
			    </div>
			 <div class="span-11">
				
				
			        <p id="u392-2"><span id="u392"><div align="center">Tell Matt Miller to run for President<p>&nbsp;</p></div>
					<div class="text">
					  <p id="u392-2"><span id="u392">

					  <%= form_for(:petition, :url => {:action => 'create'}) do |f| %>

					    <%= render(:partial => "form", :locals => {:f => f}) %>
						<div align="center">
					    <button class="cupid-green" >Sign Petition</button>

					  <% end %>
						</div>
					</div>
		

			    </div>


			    <div class="span-11">

			  <p> 		<div class="clearfix grpelem" id="u553-26"><!-- group -->
				      <div class="grpelem" id="pu553-25"><!-- content -->
				       <h1 align = 'center'>How you can help</h1>
				       <p>&nbsp; </p>
				       <p>1) Sign the petition</p>
				       <p>&nbsp; </p>
				       <p>2) Tell your friends to help draft Matt</p>
				       <p>&nbsp; </p>
				       <p>3) Use the Facebook widget to post this website to Facebook</p>
				       <p>&nbsp; </p>
				      <div class="fb-like" data-href="http://www.mattmillerforpresident.com" data-send="true" data-width="450" 			data-show-faces="true" data-font="arial"></div>
				       <p>&nbsp; </p>
				       <p>4) Volunteer to be part of our grass roots efforts to draft Matt Miller as the Americans Elect candidate for President</p>
				       <p>&nbsp; </p>
				       <p>5) Signup at Americans Elect so you can support Matt's candidacy</p>
				       <p>&nbsp; </p>
				       <p>&nbsp; </p>
				      </div>
			    </div>
			
				
			

	
	   </div>
	
	  </div>

	  </div>
	<footer>

	</footer>
	</html>
	
