<!DOCTYPE html>
<html>
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="0.8.792.106"/>
  <title>Home</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/site_global.css?4171259665"/>
  <link rel="stylesheet" type="text/css" href="css/index.css?4041621910"/>
  <!-- Other scripts -->
  <script type="text/javascript">
   document.documentElement.className = 'js';
</script>
  

  <div class="rounded-corners clearfix" id="page"><!-- group -->
   <div class="clearfix grpelem" id="master-header"><!-- column -->
    <div class="colelem" id="u95"><!-- image -->
     <%=image_tag('mm_home2_02.png') %>
    </div>
    <div class="clearfix colelem" id="pmenuu184"><!-- group -->
     <ul class="MenuBar clearfix grpelem" id="menuu184"><!-- row -->
      <li class="MenuItemContainer clearfix grpelem" id="u213"><!-- vertical box -->
       <a class="nonblock nontext MuseLinkActive MenuItem MenuItemWithSubMenu MuseMenuActive clearfix colelem" id="pu330" href=<%= root_path %>><!-- state-based group --><div class="grpelem" id="u216"><!-- horizontal box --><div class="_u216 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u219-4"><!-- content --><p>Home</p></div></div></div><div class="grpelem" id="u216-2"><!-- horizontal box --><div class="_u216-2 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u219-8"><!-- content --><p>Home</p></div></div></div><div class="grpelem" id="u216-3"><!-- horizontal box --><div class="_u216-3 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u219-12"><!-- content --><p>Home</p></div></div></div><div class="grpelem" id="u216-4"><!-- horizontal box --><div class="_u216-4 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u219-16"><!-- content --><p>Home</p></div></div></div></a>
      </li>

      <li class="MenuItemContainer clearfix grpelem" id="u185"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="pu216" href=<%= mattmiller_path %>><!-- state-based group --><div class="grpelem" id="u186"><!-- horizontal box --><div class="_u186 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u189-4"><!-- content --><p>Matt Miller</p></div></div></div><div class="grpelem" id="u186-2"><!-- horizontal box --><div class="_u186-2 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u189-8"><!-- content --><p>Matt Miller</p></div></div></div><div class="grpelem" id="u186-3"><!-- horizontal box --><div class="_u186-3 f3s_top clearfix"></div></div><div class="grpelem" id="u186-4"><!-- horizontal box --><div class="_u186-4 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u189-16"><!-- content --><p>Matt Miller</p></div></div></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u206"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="pu216" href=<%= support_path %>><!-- state-based group --><div class="grpelem" id="u207"><!-- horizontal box --><div class="_u207 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u208-4"><!-- content --><p>Support</p></div></div></div><div class="grpelem" id="u207-2"><!-- horizontal box --><div class="_u207-2 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u208-8"><!-- content --><p>Support</p></div></div></div><div class="grpelem" id="u207-3"><!-- horizontal box --><div class="_u207-3 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u208-12"><!-- content --><p>Support</p></div></div></div><div class="grpelem" id="u207-4"><!-- horizontal box --><div class="_u207-4 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u208-16"><!-- content --><p>Support</p></div></div></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u220"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="pu216" href=<%= about_path %>><!-- state-based group --><div class="grpelem" id="u223"><!-- horizontal box --><div class="_u223 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u225-4"><!-- content --><p>About</p></div></div></div><div class="grpelem" id="u223-2"><!-- horizontal box --><div class="_u223-2 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u225-8"><!-- content --><p>About</p></div></div></div><div class="grpelem" id="u223-3"><!-- horizontal box --><div class="_u223-3 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u225-12"><!-- content --><p>About</p></div></div></div><div class="grpelem" id="u223-4"><!-- horizontal box --><div class="_u223-4 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u225-16"><!-- content --><p>About</p></div></div></div></a>
      </li>
      <li class="MenuItemContainer clearfix grpelem" id="u247"><!-- vertical box -->
       <a class="nonblock nontext MenuItem MenuItemWithSubMenu clearfix colelem" id="pu216" href=<%= elect_path %>><!-- state-based group --><div class="grpelem" id="u250"><!-- horizontal box --><div class="_u250 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u252-4"><!-- content --><p>Americans Elect</p></div></div></div><div class="grpelem" id="u250-2"><!-- horizontal box --><div class="_u250-2 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u252-8"><!-- content --><p>Americans Elect</p></div></div></div><div class="grpelem" id="u250-3"><!-- horizontal box --><div class="_u250-3 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u252-12"><!-- content --><p>Americans Elect</p></div></div></div><div class="grpelem" id="u250-4"><!-- horizontal box --><div class="_u250-4 f3s_top clearfix"><div class="MenuItemLabel NoWrap clearfix grpelem" id="u252-16"><!-- content --><p>Americans Elect</p></div></div></div></a>
      </li>
     </ul>
 </head>